{% extends 'back_base.html.twig' %}

{% block title %}Liste des Roles{% endblock %}

{% block body %}
    <h1>Liste des Roles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.code }}</td>
                <td>{{ role.name }}</td>
                <td>
                    <a href="{{ path('role_show', {'id': role.id}) }}">Voir</a>
                    <a href="{{ path('role_edit', {'id': role.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun Role</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('role_new') }}">Créer un nouveau Role </a>
{% endblock %}
