{% extends 'back/back_base.html.twig' %}

{% block title %}Liste des Roles{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12">  
            <div class="row ">
                <div class='test2 col-md-12 col-lg-9'>
                    <h1>Liste des Roles</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Nom</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for role in roles %}
                            <tr>
                                <td>{{ role.code }}</td>
                                <td>{{ role.name }}</td>
                                <td>
                                    <a href="{{ path('role_show', {'id': role.id}) }}">Voir</a>
                                    <a href="{{ path('role_edit', {'id': role.id}) }}">Éditer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucun Role</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class='test col-md-12 col-lg-3'>
                <h1>Ajoutez un Role</h1>
                {{ include('back/role/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>      
</div>    
{% endblock %}
