{# {{ form_start(eventForm) }}
    {{ form_widget(eventForm) }}
    <button class="btn">{{ button_label|default('Sauvergarder') }}</button>
{{ form_end(eventForm) }}

 #}
{{ form_start(eventForm) }}
    {{ form_row(eventForm.date, {'attr': {'placeholder': 'Selectionez la date ...'}} )}}
    {{ form_row(eventForm.place, {'attr': {'placeholder': 'Entrez le lieu ...'}} )}}
    {{ form_row(eventForm.description, {'attr': {'placeholder': 'Entrez une description ...'}} )}}
    {{ form_row(eventForm.content, {'attr': {'placeholder': 'Entrez le contenu ...'}} )}}
    {{ form_row(eventForm.type, {'attr': {'placeholder': 'Choisissez le type ...'}} )}}
    {{ form_row(eventForm.picturefiles, {'attr': {'placeholder': 'Choisisssez la/les image\(s\) ...'}} )}}
    <button class="btn">{{ button_label|default('Sauvergarder') }}</button>
{{ form_end(eventForm)}}
