{% extends 'back_base.html.twig' %}
{% block title %}Liste des Évènements{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12">  
            <div class="row ">
                <div class='test col-md-12 col-lg-9'>
                    <h1>Liste des Types</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Code</th>
                                <th>Image</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for type in types %}
                            <tr>
                                <td>{{ type.title }}</td>
                                <td>{{ type.code }}</td>
                                <td><img src="{{ asset('uploads/pictures/' ~ type.picture ) }}" height="80em" ></td>
                                <td>
                                    <a href="{{ path('type_show', {'id': type.id}) }}">Voir</a>
                                    <a href="{{ path('type_edit', {'id': type.id}) }}">Éditer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Ajouter un type</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class='test2 col-md-12 col-lg-3'>
                    <h1>Ajouter un Type</h1>
                    {{ include('back/type/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>      
</div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12">  
            <div class="row ">
                <div class='test2 col-md-12 col-lg-9'>
                    <h1>Liste des Évènements</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Lieu</th>
                                <th>Description</th>
                                <th>Contenu</th>                
                                <th>Type</th>
                                <th>Images</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ event.place }}</td>                
                                <td>{{ event.description }}</td>
                                <td>{{ event.content }}</td>
                                <td>{{ event.type }}</td>
                                <td>
                                {% for picture in pictures %}
                                    <img src="{{ asset('uploads/pictures/' ~ picture.path ) }}" height="80em" >
                                {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('event_show', {'id': event.id}) }}">Voir</a>
                                    <a href="{{ path('event_edit', {'id': event.id}) }}">Éditer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">Aucun Évènement</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class='test col-md-12 col-lg-3'>
                    <h1>Ajouter un Évènement</h1>
                    {{ form_start(eventForm) }}
                        {{ form_row(eventForm.date, {'attr': {'placeholder': 'Selectioner la date ...'}} )}}
                        {{ form_row(eventForm.place, {'attr': {'placeholder': 'Entrer le lieu ...'}} )}}
                        {{ form_row(eventForm.description, {'attr': {'placeholder': 'Entrer une description ...'}} )}}
                        {{ form_row(eventForm.content, {'attr': {'placeholder': 'Entrer le contenu ...'}} )}}
                        
                        {{ form_row(eventForm.type, {'attr': {'placeholder': 'Choisisser le type ...'}} )}}
                        {{ form_row(eventForm.pictures)}}
                        </div>
                        <button class="btn text-white">{{ button_label|default('Sauvergarder') }}</button>
                    {{ form_end(eventForm)}}
                </div>
            </div>
        </div>
    </div>      
</div>
{% endblock %}
