{% extends 'back_base.html.twig' %}
{% block title %}Liste des Évènements{% endblock %}

{% block body %}
    <h1>Liste des Évènements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Date</th>
                <th>Description</th>
                <th>Contenu</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.content }}</td>
                <td>{{ event.type }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">Voir</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun Évènement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Créer un nouvel Évènement</a>
{% endblock %}
