{% extends 'base.html.twig' %}

{% block title %}Footer index{% endblock %}

{% block body %}
    <h1>Footer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Information</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for footer in footers %}
            <tr>
                <td>{{ footer.id }}</td>
                <td>{{ footer.text }}</td>
                <td>{{ footer.information }}</td>
                <td>
                    <a href="{{ path('footer_show', {'id': footer.id}) }}">show</a>
                    <a href="{{ path('footer_edit', {'id': footer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('footer_new') }}">Create new</a>
{% endblock %}
