{% extends 'back_base.html.twig' %}

{% block title %}Liste des Contacts{% endblock %}

{% block body %}
    <h1>Liste des Contacts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numéro</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.adresse }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">Voir</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun Contact</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contact_new') }}">Créer un nouveau Contact</a>
{% endblock %}
