{{ form_start(headerForm) }}
    {# {{ form_row(headerForm.tab, {'attr': {'placeholder': 'Entrer un onglet ...'}} )}}
    {{ form_row(headerForm.title, {'attr': {'placeholder': 'Entrer un titre ...'}} )}} #}
    {{ form_row(headerForm.headersPictures, {'attr': {'placeholder': 'Selectionner une image ...'}} )}}    
    {# {{ form_row(headerForm.picture2, {'attr': {'placeholder': 'Selectionner une deuxieme image ...'}} )}}    
    {{ form_row(headerForm.picture3, {'attr': {'placeholder': 'Selectionner une troisieme image ...'}} )}} #}
    {{ form_row(headerForm.text, {'attr': {'placeholder': 'Entrer un texte ...'}} )}}
    {{ form_row(headerForm.text2, {'attr': {'placeholder': 'Entrer un texte ...'}} )}}
    {{ form_row(headerForm.text3, {'attr': {'placeholder': 'Entrer un texte ...'}} )}}
    <button class="btn">{{ button_label|default('Sauvergarder') }}</button>
{{ form_end(headerForm)}}
