{% extends 'back_base.html.twig' %}

{% block title %}Liste des Entêtes{% endblock %}

{% block body %}
    <h1>Liste des Entêtes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Onglet</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for header in headers %}
            <tr>
                <td>{{ header.id }}</td>
                <td>{{ header.tab }}</td>
                <td>{{ header.title }}</td>
                <td>
                    <a href="{{ path('header_show', {'id': header.id}) }}">Voir</a>
                    <a href="{{ path('header_edit', {'id': header.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune Entête</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('header_new') }}">Créer une nouvelle Entête</a>
{% endblock %}
