{% extends 'back_base.html.twig' %}

{% block title %}Liste des Entêtes{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12 col-md-12 ">  
            <div class="row ">
            <div class='test col-md-12 col-lg-9'>
                <h1>Liste des Entêtes</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Onglet</th>
                            <th>Titre</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for header in headers %}
                        <tr>
                            <td>{{ header.tab }}</td>
                            <td>{{ header.title }}</td>
                            <td><img src="{{ asset('uploads/pictures/' ~ header.picture ) }}" height="80em" ></td>
                            <td>
                                <a href="{{ path('header_show', {'id': header.id}) }}">Voir</a>
                                <a href="{{ path('header_edit', {'id': header.id}) }}">Éditer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucune Entête</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class='test2 col-md-12 col-lg-3'>
                <h1>Ajoutez une Entête</h1>
                {{ include('back/header/_form.html.twig') }}
            </div>
            </div>
        </div>
    </div>      
</div>


<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12 col-md-12 ">  
            <div class="row ">
            <div class='test2 col-md-12 col-lg-9'>
                <h1>Liste des Pieds de page</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Texte</th>
                            <th>Information</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for footer in footers %}
                        <tr>
                            <td>{{ footer.text }}</td>
                            <td>{{ footer.information }}</td>
                            <td>
                                <a href="{{ path('footer_show', {'id': footer.id}) }}">Voir</a>
                                <a href="{{ path('footer_edit', {'id': footer.id}) }}">Éditer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Aucun Pied de page</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class='test col-md-12 col-lg-3'>
                <h1>Ajoutez un Pied de page</h1>
                {{ include('back/footer/_form.html.twig') }}
            </div>
            </div>
        </div>
    </div>      
</div>


<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12 col-md-12 ">  
            <div class="row ">
            <div class='test col-md-12 col-lg-9'>
                <h1>Liste des Contacts</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Numéro</th>
                            <th>Email</th>
                            <th>Adresse</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for approach in approachs %}
                        <tr>
                            <td>{{ approach.phone }}</td>
                            <td>{{ approach.email }}</td>
                            <td>{{ approach.adresse }}</td>
                            <td>
                                <a href="{{ path('approach_show', {'id': approach.id}) }}">Voir</a>
                                <a href="{{ path('approach_edit', {'id': approach.id}) }}">Éditer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun Contact</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class='test2 col-md-12 col-lg-3'>
                <h1>Ajoutez un Contact</h1>
                {{ include('back/approach/_form.html.twig') }}
            </div>
            </div>
        </div>
    </div>      
</div>

<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12 col-md-12 ">  
            <div class="row ">
                <div class='test2 col-md-12 col-lg-9'>
                    <h1>Liste des Réseaux sociaux</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Facebook</th>
                                <th>Twitter</th>
                                <th>Instagram</th>
                                <th>Linkedin</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for network in networks %}
                            <tr>
                                <td>{{ network.facebook }}</td>
                                <td>{{ network.twitter }}</td>
                                <td>{{ network.instagram }}</td>
                                <td>{{ network.linkedin }}</td>
                                <td>
                                    <a href="{{ path('network_show', {'id': network.id}) }}">Voir</a>
                                    <a href="{{ path('network_edit', {'id': network.id}) }}">Éditer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">Aucun Réseau social</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class='test col-md-12 col-lg-3'>
                    <h1>Ajoutez un Réseau social</h1>
                    {{ include('back/network/_form.html.twig') }}
                </div>
            </div>
            </div>
        </div>
    </div>      
</div>


<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12 col-md-12 ">  
            <div class="row ">
                <div class='test col-md-12 col-lg-9'>
                    <h1>Liste des Horaires</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ouverture</th>
                                <th>Fermeture</th>
                                <th>Ouvert</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for horaire in horaires %}
                            <tr>
                                <td>{{ horaire.opening }}</td>
                                <td>{{ horaire.closing }}</td>
                                <td>{{ horaire.open ? 'Yes' : 'No' }}</td>
                                <td>
                                    <a href="{{ path('horaire_show', {'id': horaire.id}) }}">Voir</a>
                                    <a href="{{ path('horaire_edit', {'id': horaire.id}) }}">Éditer</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Aucune Horaire</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class='test2 col-md-12 col-lg-3'>
                    <h1>Ajoutez un Horaire</h1>
                    {{ form_start(horaireForm) }}
                        {{ form_row(horaireForm.opening, {'attr': {'placeholder': 'Entrer un horaire d\'ouverture ...'}} )}}
                        {{ form_row(horaireForm.closing, {'attr': {'placeholder': 'Entrer un horaire de fermeture ...'}} )}}
                        <div class='d-none'>
                            {{ form_row(horaireForm.open)}}
                        </div>
                        <button class="btn">{{ button_label|default('Sauvergarder') }}</button>
                    {{ form_end(horaireForm)}}
                </div>
            </div>
        </div>
    </div>      
</div>

{% endblock %}
