{% extends 'back_base.html.twig' %}

{% block title %}Liste des Pieds de page{% endblock %}

{% block body %}
    <h1>Liste des Pieds de page</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Texte</th>
                <th>Information</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for footer in footers %}
            <tr>
                <td>{{ footer.id }}</td>
                <td>{{ footer.text }}</td>
                <td>{{ footer.information }}</td>
                <td>
                    <a href="{{ path('footer_show', {'id': footer.id}) }}">Voir</a>
                    <a href="{{ path('footer_edit', {'id': footer.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun Pied de page</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('footer_new') }}">Créer un nouveau Pied de page</a>
{% endblock %}
