{% extends 'base.html.twig' %}

{% block title %}Liste des Type{% endblock %}

{% block body %}
    <h1>Liste des Type</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.id }}</td>
                <td>{{ type.title }}</td>
                <td>{{ type.code }}</td>
                <td>
                    <a href="{{ path('type_show', {'id': type.id}) }}">Voir</a>
                    <a href="{{ path('type_edit', {'id': type.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun Type</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_new') }}">Créer un nouveau Type</a>
{% endblock %}
