{% extends 'back_base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <h1>Type</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ type.title }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ type.code }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_index') }}">Revenir à la liste</a>

    <a href="{{ path('type_edit', {'id': type.id}) }}">Éditer</a>

    {{ include('back/type/_delete_form.html.twig') }}
{% endblock %}
