{% block body %}

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="approach col-lg-4 col-md-12">
                <h3>Contact</h3>
                    <ul>
                        
                        <li><a href="">{{ footers.telephone }}</a></li>
                        
                        <li><a href="mailto:#">{{ footers.email }}</a></li>
                        
                        <li><a href="https://www.google.fr/maps/place/Maison+des+Associations/@48.3022338,4.060545,17z/data=!3m1!4b1!4m5!3m4!1s0x47ee985b554ce31f:0xe61ecee0c59eec95!8m2!3d48.3022303!4d4.0627337">{{ footers.adress }}</a></li>
                    
                        <li><p>{{ footers.textContact }}</p></li>
                    
                    </ul>
            </div>
            <div class="network col-lg-4 col-md-12">
                <h3>Réseaux sociaux</h3>
                    <div>
                    {# <span style="font-size: 20px; color: aliceblue;"> #}
                        <ul>
                            <li>
                                <a href="{{ footers.facebook }}">{{ footers.facebook }}</a>
                            </li>
                            
                            <li>
                                <a href="{{ footers.otherSite }}">{{ footers.otherSite }}</a>
                            </li>

                        </ul>
                    </div>
                    {# </span>        #}
                                
            </div>
            <div class="about col-lg-4 col-md-12">
                <h3 id="about">A propos</h3>
                <div>{{ footers.text}}</div>     
            </div>
        </div>
        <div class="row">
                
        </div>
        <div class="row">
            <div id="us">©️2019, Corentin Tournaire, Florian Mathieu, Franck Valet</div>
            <div>
                <a href="{{ path('legalNotice') }}" class="btn btn-secondary">Mentions légales</a>
            </div>
        </div>
    </div>

</footer>

{% endblock %}

