{% block body %}

<header>

{% if  header|length != 0 %}
    {% for picture in header.pictures %}
        <div class="section">
            <img class="imgHeader" src="{{ asset('uploads/pictures/header/' ~ header.picture.path ) }}">
            <div class="fixed">
                <div class="bg1">
                    <p>{{ header.text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
    {# <div class="section">
        <img class="imgHeader" src="{{ asset('uploads/pictures/header/' ~ header.picture.path ) }}">
        <div class="fixed">
            <div class="bg1">
                <p>{{ header.text }}</p>
            </div>
        </div>
    </div>
    <div class="section">
        <img class="imgHeader" src="{{ asset('uploads/pictures/header/' ~ header.picture2.path ) }}">
        <div class="fixed">
            <div class="bg2">
                <p>{{ header.text2 }}</p>
            </div>
        </div>
    </div>
    <div class="section">
        <img class="imgHeader" src="{{ asset('uploads/pictures/header/' ~ header.picture3.path ) }}">
        <div class="fixed">
            <div class="bg3">
                <p>{{ header.text3 }}</p>
            </div>
        </div>
    </div> #}
</header>
<nav class="navbar fixed-top navbar-expand-md  navbar-inverse">
                
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ml">
                <a class="btn btn-outline-light" href="#nextLastEvents">Prochaines randonnées</a>
            </li> 
            <li class="nav-item">
                <a class="btn btn-outline-light" href="#otherLastEvents">Autres évènements</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-light" href="#previousLastEvents">Précédents évènements</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if not app.user %}
                <li class="nav-item ml">
                    <a class="btn btn-outline-light" href="{{ path('security_login') }}">Connexion</a>
                </li>                        
                <li class="nav-item">
                    <a class="btn btn-outline-light" href="{{ path('security_registration') }}">Inscription</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="btn btn-outline-light" href="{{ path('security_logout') }}">Déconnexion</a>
                </li>                        
                <li class="nav-item">
                    <a class="btn btn-outline-light" href="{{ path('file') }}">Téléchargements</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}
