{% block body %}

<header>
    <div id="header">
        <nav class="navbar fixed-top navbar-expand-md navbar-light" data-spy="affix" data-offset-top="197">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" href="{{ path('security_registration') }}">Inscription</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" href="{{ path('security_login') }}">Connexion</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" href="{{ path('contact') }}">Contact</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" href="{{ path('contact') }}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" href="{{ path('file') }}">Téléchargements</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" href="{{ path('security_logout') }}">Déconnexion</a>
                        </li>                        
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div>
            <div id="head">
                <div id="logo">
                    <a href="{{ path('main') }}">  
                    <img id="logoimg" src="{{asset('image/GBRA.svg')}}" alt="logo" height="200em"></a>
                </div>
                {% for header in headers %} 
                    <img id="mainImg" src="{{asset('uploads/pictures/' ~  header.picture)}}">                   
                {% endfor %}
            </div>
        </div>
    </div>
</header> 
{% endblock %}