{% block body %}

<header>
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div>
                <a href="{{ path('main') }}">  
                <img src=" {{ asset('image/GBRA.png')}}" alt="logo" height="80em" ></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" href="{{ path('security_login') }}">Connexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="btn btn-outline-secondary" href="{{ path('security_logout') }}">Déconnexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div id="mainImg">
            {{render(controller(
                'App\\Controller\\HeaderController::index'
            ))}}
            {% for header in headers %} 
                <img src="{{ header.picture }}">                   
            {% endfor %}
        </div>
    </div>
</header> 
{% endblock %}