<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900i&display=swap" rel="stylesheet">
        <style>@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');
                </style>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <link rel="stylesheet" href="/css/style.css">
        
        <link rel="shortcut icon" type="image/png" href="image/GBRA.png">
        {% endblock %}
        
    </head>
    <body>
        <nav id="navMain" class="navbar fixed-top navbar-expand-md  navbar-inverse">
                
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ml">
                        <a class="btn btn-outline-light" href="/contact">Contact</a>
                    </li> 
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="/fichiers">Téléchargement</a>
                    </li>
                    
                </ul>
                <ul class="navbar-nav ml-auto">
                    {#{% if not app.user %}#}
                        <li class="nav-item ml">
                            <a class="btn btn-outline-light" href="{{ path('security_login') }}">Connexion</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="btn btn-outline-light" href="{{ path('security_registration') }}">Inscription</a>
                        </li>
                        
                   {#} {% else %}#}
                        <li class="nav-item">
                            <a class="btn btn-outline-light" href="{{ path('security_logout') }}">Déconnexion</a>
                        </li>                        
                       
                    {#{% endif %}#}
                </ul>
            </div>
        </nav>

        {% if app.request.attributes.get('_route') == 'allPastEvents' or app.request.attributes.get('_route') == 'allNextEvents' or app.request.attributes.get('_route') == 'allOtherEvents' or app.request.attributes.get('_route') == 'contact'  or app.request.attributes.get('_route') == 'security_registration'  or app.request.attributes.get('_route') == 'security_login' or app.request.attributes.get('_route') == 'event_show'  or app.request.attributes.get('_route') == 'security_login' or app.request.attributes.get('_route') == 'file' or app.request.attributes.get('_route') == 'legalNotice' %}
        {{ render(controller('App\\Controller\\HeaderController::index'))}}
        {% elseif app.request.attributes.get('_route') == 'main' %}
        {{ render(controller('App\\Controller\\HeaderController::indexMain'))}}
        {% else %}
        {{ render(controller('App\\Controller\\HeaderController::indexBack'))}}
        {% endif %}
        
        {# {% include "_confirmError.html.twig" %} #}

        {% block body %}   
        {% endblock %}

        {{ render(controller('App\\Controller\\HeaderController::footer'))}}

        {% block javascripts %}
        
        
        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/d82684afa4.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="/js/app.js"></script>
        {% endblock %}
    </body>
</html>