{% extends 'back_base.html.twig' %}

{% block title %}Liste des Horaires{% endblock %}

{% block body %}
    <h1>Liste des Horaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ouverture</th>
                <th>Fermeture</th>
                <th>Ouvert</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horaire in horaires %}
            <tr>
                <td>{{ horaire.id }}</td>
                <td>{{ horaire.opening }}</td>
                <td>{{ horaire.closing }}</td>
                <td>{{ horaire.open ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('horaire_show', {'id': horaire.id}) }}">Voir</a>
                    <a href="{{ path('horaire_edit', {'id': horaire.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune Horaire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('horaire_new') }}">Créer un nouvel Horaire</a>
{% endblock %}
