{{ form_start(pictureForm) }}
    {{ form_row(pictureForm.path, {'attr': {'placeholder': 'Selectioner l\'image ...'}} )}}
    {{ form_row(pictureForm.name, {'attr': {'placeholder': 'Entrer un nom pour l\'image ...'}} )}}
    
    <button class="btn">{{ button_label|default('Sauvergarder') }}</button>
{{ form_end(pictureForm)}}