{% extends 'back_base.html.twig' %}

{% block title %}Liste des Contacts{% endblock %}

{% block body %}
    <h1>Liste des Contacts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numéro</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for approach in approachs %}
            <tr>
                <td>{{ approach.id }}</td>
                <td>{{ approach.phone }}</td>
                <td>{{ approach.email }}</td>
                <td>{{ approach.adresse }}</td>
                <td>
                    <a href="{{ path('approach_show', {'id': approach.id}) }}">Voir</a>
                    <a href="{{ path('approach_edit', {'id': approach.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun Contact</td>
                <td colspan="5">Aucun Contact</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('approach_new') }}">Créer un nouveau Contact</a>
{% endblock %}
