{% extends 'back_base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12">  
            <div class="row ">
                <div class='test col-12'>
                    <h1>Contact</h1>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ approach.id }}</td>
                            </tr>
                            <tr>
                                <th>Numéro</th>
                                <td>{{ approach.phone }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ approach.email }}</td>
                            </tr>
                            <tr>
                                <th>Adresse</th>
                                <td>{{ approach.adresse }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="{{ path('approach_edit', {'id': approach.id}) }}">Éditer</a>
                    {{ include('back/approach/_delete_form.html.twig') }}
                    <a href="{{ path('header_index') }}">Revenir à la liste</a>
                </div>
            </div>
        </div>
    </div>      
</div> 
{% endblock %}
