{% extends 'base.html.twig' %}

{% block title %}GRBA - Groupe des Randonneurs et Baliseurs Aubois{% endblock %}

{% block body %}
    <div class="container"> 
        <div class="picture">
            <ul>
                <li>
                    <span>
                        {% for picture in pictures %}
                            <img src="{{ asset('uploads/' ~ picture.path ) }}" height="80em" >
                        {% endfor %}
                    </span>
                </li>
            </ul>   
            
        </div>
        <div class="content">
            <p> le {{ event.date|localizeddate('none', 'none', null, null, 'EEEE dd MMMM')}} à {{ event.date ? event.date|date('H:i') : '' }}</p>
            <p>{{ event.content }}</p>

        </div>
    </div> 

<a href="{{ path('main') }}">Revenir à la page principale</a>

{% endblock %}