{% extends 'base.html.twig' %}

{% block title %}GRBA - Groupe des Randonneurs et Baliseurs Aubois{% endblock %}

{% block body %}
    <div>
        <h2 class="currentEvent">{{ event.place }} le <span>{{ event.date|localizeddate('full', 'none')}}</span></h2>
            
            <p id="content">{{ event.content|nl2br }}</p>
    </div>


    <div class="blocs">
        
{% for picture in pictures %}
    <a href="#img-id-{{ picture.id}}">
        <img class="bloc currentEventImg" src="{{ asset('image/' ~ picture.path ) }}" >
    </a>                
    <a href="#_" class="overlay" id="img-id-{{ picture.id}}">
        <img class="currentEvent"  src="{{ asset('image/' ~ picture.path ) }}" >
    </a>
{% endfor %}
            
    </div>

 
<a href="{{ path('main') }}">Revenir à la page principale</a>

{% endblock %}