{% extends 'base.html.twig' %}

{% block title %}GRBA - Groupe des Randonneurs et Baliseurs Aubois{% endblock %}

{% block body %}  
<div class="main">
        
    <div class="content nextLastEvents">
        <h2>Prochaines Randonnées</h2>
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-lg-11 col-md-12 ">   
                        <div class="row">         
                        {% for event in findNextEvents %}                     
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12" >  
                                <div class="myContainer">
                                    <div class="myCard">                      
                                        <div class="myFront">
                                            <div class="card " > 
                                                <figure>
                                                    <img src="{{asset('uploads/' ~  event.type.picture)}}" class="card-img-top" alt="...">
                                                    <figcaption class="img-title">{{ event.type }}</figcaption>    
                                                </figure>
                                                <div class="card-body">
                                                    <h5 class="card-title">{{ event.place }}</h5>
                                                        <p>le {{ event.date ? event.date|date('d-m-Y') : '' }} à {{ event.date ? event.date|date('H:i') : '' }}</p> 
                                                </div>
                                            </div>
                                        </div>                            
                                        <div class="myBack">
                                            <div class="cardReverse" >      
                                                <div class="card-body" id="des">
                                                    <h5 class="card-title">{{ event.place }}</h5>
                                                        <p>le {{ event.date ? event.date|date('d-m-Y') : '' }} à {{ event.date ? event.date|date('H:i:s') : '' }}</p>
                                                        <div class="desc" >
                                                            <p class="card-text">{{ event.description }}</p>
                                                        </div>                
                                                </div>
                                            </div>
                                        </div>                                    
                                    </div>
                                </div>  
                            </div>
                        {% endfor %}
                        </div> 
                    </div>
                    <div class="seeAll col-lg-1 col-md-12">
                        <a href="{{ path('allNextEvents') }}" class="btn btn-secondary" id="btnSeeAll">Voir tout</a>
                    </div>
                </div>           
            </div>
    </div>         
    
    
    <div class="content otherLastEvents">
        <h2>Autres Évènements</h2>
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-lg-11 col-md-12 ">   
                        <div class="row">
                            {% for event in findOtherEvents %}
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-12" id="col">  
                                        <div class="myContainer2"> 
                                            <div class="myCard">
                                                <div class="card2 " > 
                                                    <figure>
                                                        <figcaption class="img-title blend">{{ event.type }}</figcaption>
                                                        <div class="card-body card-body2">
                                                        <h5 class="card-title ">{{ event.place }}</h5>
                                                            <p class="">le {{ event.date ? event.date|date('d-m-Y') : '' }} à {{ event.date ? event.date|date('H:i') : '' }}</p> 
                                                    </div>    
                                                    </figure>
                                                    
                                                </div>                             
                                            </div>
                                        </div>  
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                    {# <div class="seeAll col-lg-1 col-md-12">
                        <button href="#" type="button" class="btn btn-secondary"  id="btnSeeAll">Voir tout</button>
                    </div> #}
                </div>
            </div>
    </div>
    



    <div class="content previousLastEvents">
        <h2>Précédents Évènements</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11 col-md-12 "> 
                        <div class="row"> 
                        {% for event in findPastEvents %}
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <img src="{{asset('uploads/' ~  event.type.picture)}}" class="card-img-top2" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ event.place }}</h5>
                                        <h6>{{ event.type }}</h6>
                                            <p>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</p>
                                            <p class="card-text">{{ event.content|truncate(150) }}</p>
                                            
                                    </div>
                                    <button href="#" class="btn btn-primary">Voir plus</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="seeAll col-lg-1 col-md-12">
                        <a href="{{ path('allPastEvents') }}" type="button" class="btn btn-secondary"  id="btnSeeAll">Voir tout</a>
                    </div>
                </div>
            </div>
    </div>
</div> 
{% endblock %}