{% extends 'base.html.twig' %}

{% block title %}GRBA - Groupe des Randonneurs et Baliseurs Aubois{% endblock %}

{% block body %}  
<div class="main">
        
    <div class="content nextLastEvents">
        <h2>Prochaines Randonnées</h2>
            <div class="container-fluid">
                <div class="row ">
                    <div class="col-lg-11 col-md-12 ">   
                        <div class="row">         
                        {% for event in findNextEvents %}                     
                            <div class="col-lg-3 col-md-6 col-sm-6 col-12" >  
                                <div class="myContainer">
                                    <div class="myCard">                      
                                        <div class="myFront">
                                            <div class="card " > 
                                                <figure>
                                                    <img src="{{asset('uploads/' ~  event.type.picture)}}" class="card-img-top" alt="...">
                                                    <figcaption class="img-title">{{ event.type }}</figcaption>    
                                                </figure>
                                                <div class="card-body">
                                                    <p>le {{ event.date|localizeddate('none', 'none', null, null, 'EEEE dd MMMM')}} à {{ event.date ? event.date|date('H:i') : '' }}</p> 
                                                </div>
                                                <h5 class="card-title">
                                                        <span style="font-size: 1em; color: black;"><i class="fas fa-map-marker-alt"></i></span>
                                                        {{ event.place }}</h5>
                                            </div>
                                        </div>                            
                                        <div class="myBack">
                                            <div class="cardReverse" >      
                                                <div class="back-card-body" id="des">
                                                    <h5 class="back-card-title">{{ event.place }}</h5>
                                                        <h6>{{ event.date|localizeddate('none', 'none', null, null, 'EEEE dd MMMM')}} à {{ event.date ? event.date|date('H:i:s') : '' }}</h6>
                                                        <div class="desc" >
                                                            <div id="descItem">
                                                                <div>
                                                                    {{ event.description|truncate(180) }}
                                                                </div>
                                                            </div>
                                                        </div>                
                                                </div>
                                            </div>
                                        </div>                                    
                                    </div>
                                </div>  
                            </div>
                        {% endfor %}
                        </div> 
                    </div>
                    <div class="seeAll col-lg-1 col-md-12">
                        <a href="{{ path('allNextEvents') }}" class="btn btn-secondary" id="btnSeeAll">Voir tout</a>
                    </div>
                </div>           
            </div>
    </div>         
    
    
    <div class="content otherLastEvents">
        <h2>Autres Évènements</h2>
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-lg-11 col-md-12 ">   
                        <div class="row">
                            {% for event in findOtherEvents %}
                                <div class="col-lg-2 col-md-6 col-sm-6 col-12" id="col">  
                                    <div class="card2 " > 
                                        
                                            <div class="img-title2">{{ event.type }}</div>
                                        
                                        <div class="card-body card-body2">
                                            <p id="date">le {{ event.date|localizeddate('none', 'none', null, null, 'EEEE d MMMM')}} à {{ event.date ? event.date|date('H:i') : '' }} </p>
                                        </div>
                                        <div class="desc2" >
                                            {{ event.description|truncate(180) }}
                                        </div>   
                                        <h5 class="card-title2">
                                                <span style="font-size: 1em; color: black;"><i class="fas fa-map-marker-alt"></i>{{ event.place }}</span>
                                            </h5>     
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {# <div class="seeAll col-lg-1 col-md-12">
                        <button href="#" type="button" class="btn btn-secondary"  id="btnSeeAll">Voir tout</button>
                    </div> #}
                </div>
            </div>
    </div>
    



    <div class="content previousLastEvents">
        <h2>Précédents Évènements</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11 col-md-12 "> 
                        <div class="row"> 
                        {% for event in findPastEvents %}
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card">
                                    <figure>
                                        <img src="{{asset('uploads/' ~  event.type.picture)}}" class="card-img-top" alt="...">
                                        <figcaption class="img-title">{{ event.type }}</figcaption>    
                                    </figure>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ event.place }}</h5>
                                            <p>{{ event.date|localizeddate('none', 'none', 'none', null, 'EEEE dd MMMM')}}</p>
                                            <p class="card-text">{{ event.content|truncate(50) }}</p>
                                            
                                    </div>
                                    <a href="{{ path('event_show', {'id': event.id}) }}" class="btn btn-primary">Voir plus</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="seeAll col-lg-1 col-md-12">
                        <a href="{{ path('allPastEvents') }}" type="button" class="btn btn-secondary"  id="btnSeeAll">Voir tout</a>
                    </div>
                </div>
            </div>
    </div>
</div> 
{% endblock %}