{% extends "base.html.twig" %}
{% block title %}Les prochaines randonnées{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link" href="#Randonnée mercredi">Randonnée mercredi</a>
        <a class="nav-item nav-link" href="#Marche nordique.">Marche nordique</a>
        <a class="nav-item nav-link " href="#Randonnée douce">Randonnée douce</a>
        <a class="nav-item nav-link " href="#Randonnée dimanche">Randonnée dimanche</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="cont" id="nextLastEvents">
        <h1>Prochaines Randonnées</h1>
        {% for type in types %}  
        <div id="{{ type.title }}" class="container-fluid nextEvent contAll">
            <img class="imgType img-fluid" src="{{asset('image/' ~  type.pathPicture)}}" alt="" >
            <div class="ccc">
                <h2>{{ type.title }}</h2>
                    <div id="carousel">
                        <div class="your-class">
                        {% for event in type.events %}
                            <div class="nextEventCard">
                                <div class="nextEventCard-title">
                                    <div >
                                        {{ event.date|localizeddate('full', 'none')}}                
                                    </div>
                                </div>
                            
                            <hr>
                                <div class="nextEvent-desc">
                                    {{ event.description|nl2br }}
                                    <div class="nextEventCard-local">
                                        <span style="font-size: 1em; color: black;"><i class="fas fa-map-marker-alt"></i></span>
                                        {{ event.place }}
                                    </div>
                                </div>
                            </div> 
                        {% endfor %}
                        </div>
                    </div>
            </div>
        </div>    
            
        {% endfor %}
    </div>
</div>

{% endblock %}