{% extends "base.html.twig" %}
{% block title %}Les précédents évenements{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="cont" id="previousLastEvents">
        <h1>Evènements Précédents </h1>
        {% for type in types %}  
        <div class="container-fluid nextEvent contAll">
            <img class="imgType img-fluid" src="{{asset('image/' ~  type.pathPicture)}}" alt="" style="height:100vh; object-fit:cover; filter:opacity(.6)contrast(1.6)blur(5px)">
                <div class="ccc">
                    <h2>{{ type.title }}</h2>
                        <div id="carousel">
                            <div class="your-class">
                            {% for event in type.events %}
                                <div class="nextEventCard">
                                    <div class="nextEventCard-title">
                                        <div >
                                            {{ event.date|localizeddate('full', 'none')}}                
                                        </div>
                                        <div>
                                            {{ event.date ? event.date|date('H:i') : '' }}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="nextEvent-desc">
                                        {{ event.description }}
                                        <div class="nextEventCard-local">
                                            <span style="font-size: 1em; color: black;"><i class="fas fa-map-marker-alt"></i></span>{{ event.place }}
                                        </div>
                                        <a href="{{ path('event_show', {'id': event.id}) }}" id="btn" class="btn btn-primary">Voir plus</a>
                                    </div>
                                </div> 
                            {% endfor %}
                            </div>
                        </div>
                </div>    
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}