{{ form_start(form) }}
    {# {{ form_widget(form) }}



{# {{ form_end(form) }}
    {{ form_start(form) }} #}

    {{ form_row(form.path, {'attr': {'placeholder': 'Selectionez l\'image ...'}} )}}
    {{ form_row(form.name, {'attr': {'placeholder': 'Entrez un nom pour l\'image ...'}} )}}
    {{ form_row(form.description, {'attr': {'placeholder': 'Ecrivez une description ...'}} )}}
    {{ form_row(form.event, {'attr': {'placeholder': 'Selectionnez un evenement ...'}} )}}
    <button class="btn">{{ button_label|default('Sauvergarder') }}</button>
    {{ form_end(form )}}
