{{ form_start(pictureForm) }}
    {# {{ form_widget(form) }}



{# {{ form_end(form) }}
    {{ form_start(form) }} #}

    {{ form_row(pictureForm.path, {'attr': {'placeholder': 'Selectionez l\'image ...'}} )}}
    {{ form_row(pictureForm.name, {'attr': {'placeholder': 'Entrez un nom pour l\'image ...'}} )}}
    {{ form_row(pictureForm.description, {'attr': {'placeholder': 'Ecrivez une description ...'}} )}}
    {{ form_row(pictureForm.event, {'attr': {'placeholder': 'Selectionnez un evenement ...'}} )}}
    <button class="btn">{{ button_label|default('Sauvergarder') }}</button>
    {{ form_end(pictureForm)}}
