{% extends 'back_base.html.twig' %}

{% block title %}Liste des Images{% endblock %}

{% block body %}
    <h1>Liste des Images</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>{{ picture.name }}</td>
                <td>{{ picture.description }}</td>
                <td><img src="{{ asset('uploads/' ~ picture.name ) }}" height="80em" ></td>
                <td>
                    <a href="{{ path('picture_show', {'id': picture.id}) }}">Voir</a>
                    <a href="{{ path('picture_edit', {'id': picture.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune Image</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('picture_new') }}">Créer une nouvelle Image</a>
{% endblock %}
